@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2C2B30;
  color: #D6D6D6;
  font-family: 'JetBrains Mono', monospace;
}